/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #e3f2f6;
    text-shadow: none;
}

::selection {
    background: #e3f2f6;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*=============================================================
   Author's custom styles
   ============================================================= */

*{ border: solid 1px;}*/

/*=============================================================
STYLES GENERAUX
=============================================================*/

/*------------------------------------------------------------
COULEURS 

gris:          #968881     gris pastel:   #E8E4E2
orange:        #ED9E10
orange moyen:  #EF7F3C
orange foncé:  #EA5B0B
vert:          #9EC419     vert pastel:   #ecf3da
vert moyen:    #81b15a
vert foncé:    #7fc07d
bleu foncé:    #4e4797
bleu-vert:     #3ebaca     bleu-vert pastel: #e3f2f6
-------------------------------------------------------------*/


/*------------------------------------------------------------
TYPOGRAPHIE 
------------------------------------------------------------*/

@font-face {
    font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-L.ttf');
    font-weight: normal;}

@font-face {
    font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-LI.ttf');
    font-weight: normal;
    font-style: italic;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-R.ttf');
    font-weight: 200;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-RI.ttf');
    font-weight: 200;
    font-style: italic;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-M.ttf');
    font-weight: 500;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-MI.ttf');
    font-weight: 500;
    font-style: italic;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-B.ttf');
    font-weight: bold;}

body {
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 0.8em;}

h1, .h1 { 
    font-weight: bold;
    font-size: 2.5em;
    color: #ED9E10;}

h2, .h2 {
    font-weight: bold;
    font-size: 1.75em;
    color: #9EC419 ;}

h3, .h3 {
    font-weight: bold;
    font-size: 1.5em;
    color: #EF7F3C;}

h4, .h4 {
    font-weight: bold;
    font-size: 1.33em;
    color: #EA5B0B;}

h5, .h5 {
    font-weight: 500;
    font-size: 1.25em;
    font-style: italic;
    color: #968881;}

h6, .h6 {
    font-weight: 500;
    font-size: 1em;
    color: #968881;}

p {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;}

a {
    font-weight: normal;
    font-size: 1em;
    color: #4e4797;
    text-decoration: none;}

p a:hover, p a:visited {
    color: #3ebaca;
}


/*------------------------------------------------------------
IMAGES & GALLERIES 
------------------------------------------------------------*/

.img-100 { 
    width: 100%;
    height: auto;
}

.alignleft {
    width: 33%;
    float: left;
}

.alignright {
    width: 33%;
    float: right;
}


.gallery {
    width: 100%;
}

.gallery img {
    width: 100%;
    height: auto;
}

.gallery-icon {
    padding:2%;
}

.wp-caption-text {
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

/*=============================================================
HEADER.PHP & FOOTER.PHP
=============================================================*/

/*------------------------------------------------------------
logo 
------------------------------------------------------------*/

header img{ 
    max-width: 100%;
    max-height : 15%;
    margin: 5% 10%;
}

/*------------------------------------------------------------ 
styles menus navigation commun au Header et Footer 
------------------------------------------------------------*/
.menuHorizontal li {
	display: inline-block;
	position: relative;
}

.menuHorizontal a {
	color: #968881;
	display: block;
	font-size: 1.1em;
    font-weight: 500;
	line-height: 1.5em;
	padding: 0.8em;
	text-decoration: none;
}

.menuHorizontal .sub-menu {
	background-color: #968881;
	border-top: 0;
	padding: 0;
    margin: inherit;
	position: absolute;
	left: -2px;
	z-index: 99999;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.menuHorizontal .sub-menu ul,
.menuHorizontal .children ul {
	border-left: 0;
	left: 100%;
	top: 0;
}

ul.menuHorizontal ul a,
.menuHorizontal ul ul a {
	color: #fff;
	margin: 0;
	width: 200px;
}

ul.menuHorizontal li:hover > ul,
.menuHorizontal ul li:hover > ul,
ul.menuHorizontal .focus > ul,
.menuHorizontal .focus > ul {
	clip: inherit;
	overflow: inherit;
	height: inherit;
	width: inherit;
}

.menuHorizontal .current_page_item > a,
.menuHorizontal .current_page_ancestor > a,
.menuHorizontal .current-menu-item > a,
.menuHorizontal .current-menu-ancestor > a {
	color: #4e4797 ;
	font-style: italic;
}

.menu {margin: 0;}

/*------------------------------------------------------------
styles pour le menu Header/principal 
------------------------------------------------------------*/

.menu-navigation-principale-container{
    margin:inherit;
    padding: inherit;
}

#menu-navigation-principale {
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-right: 6%;
}

#menuHeader a:hover > a, #menuHeader a:hover,
#menuHeader a:focus > a, #menuHeader a:focus, 
#menuHeader a:active > a, #menuHeader a:active {
	background-color: #E8E4E2;
	color: #4e4797;
}

ul#menuHeader ul a:hover,
#menuHeader ul ul a:hover,
ul#menuHeader ul a:focus,
#menuHeader ul ul a:focus {
	background-color: #e3f2f6;
}

/*------------------------------------------------------------
styles pour le menu Footer / secondaire 
------------------------------------------------------------*/
#menu-menu-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#menuFooter a:hover > a, #menuFooter a:hover,
#menuFooter a:focus > a, #menuFooter a:focus, 
#menuFooter a:active > a, #menuFooter a:active {
    color: #4e4797;}

/*------------------------------------------------------------
Formulaire d'inscription à la newsletter
------------------------------------------------------------*/
#newsletter{
    margin: 1% 0;
}

#newsletter form{
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}

#newsletter label{
    
    /*TYPO*/
    line-height: 1.5em;
    font-size: 1.1em;
    font-weight: 200;
    color: #968881;
    
    /*BLOCK*/
    margin-right: 1%;
}

#newsletter input#mc4wp_email {
    /*TYPO*/
    line-height: 1.5em; 
    
    /*BLOCK*/
    margin-right: 1%;
    padding-left: 1%;
    background-color: #E8E4E2;
    color: #968881;
    border-radius: 3px;
}

#newsletter input.bouton, .bouton {
    /*TYPO*/
    color: #fff;
    font-size: 1.3em;

    
    /*POSITION BLOCK*/
    margin-right: 6%;
    
    /* MISE EN FORME BLOCK*/
    padding: 0.5%;
    background-color: #ED9E10;
    border: outset 2px #ED9E10;
    border-radius: 3px;
}

/*------------------------------------------------------------
Header mobile
------------------------------------------------------------*/
@media screen and (max-width:540px) { 
    nav + * {
		position: relative;
	}

	/* Theming opened nav */	
	nav ul {		
		
		/* maximum height */
		max-height: 25em;

		/* translate with hardware acceleration */
		-webkit-transform: translateZ(0); 
		-ms-transform: translateZ(0);
		        transform: translateZ(0);
		-webkit-transition: max-height .4s;
		        transition: max-height .4s;
		will-change: max-height;

		/* global styles */
		margin: 0;
		padding: 0;
		list-style: none;
	}
	nav a {
		display: block;
		padding: 1.2rem;
		color: #333;
		background: #fff;
		text-decoration: none;
		margin-bottom: 2px;
	}
	nav a:hover, 
	nav a:focus,
	nav a:active
	{
		background: #eee;
	}
    
	
	/* Theming closed nav */
	nav.is-closed ul {
		max-height: 0;
		overflow: hidden;
	}

	/* Global styling nav button */	
	nav > button {
		display: block;
		position: absolute;
			top: 2%; right: 5%;
		z-index: 1;
		height: 6%; 
        width: 15%;
		background-color: transparent;
		background-image: -webkit-gradient(linear, left top, right top, from(#968881), to(#968881)), -webkit-gradient(linear, left top, right top, from(#968881), to(#968881)), -webkit-gradient(linear, left top, right top, from(#968881), to(#968881));
		background-image: 
            -webkit-linear-gradient(left, #968881 , #968881 ), 
            -webkit-linear-gradient(left, #968881 , #968881 ), 
            -webkit-linear-gradient(left, #968881 , #968881 );
		background-image: linear-gradient(to right, #968881 , #968881 ),
			linear-gradient(to right, #968881 , #968881 ),
			linear-gradient(to right, #968881 , #968881 );
		background-position: center top, center, center bottom;
		background-repeat: no-repeat;
		-webkit-background-size: 100% 20%;
		        background-size: 100% 20%;
		padding: 0;
		outline: 0;
		border: 0;
		cursor: pointer;
		-webkit-tap-highlight-color:rgba(0,0,0,0);
		-webkit-transition: .2s;
		        transition: .2s;
	}
	
	/*  Removing Firefox's dotted outline on button */	
	nav > button::-moz-focus-inner {
		border: 0;
	}
	
	/* Theming opened nav button */	
	nav:not(.is-closed) > button {
		-webkit-transform: rotate(180deg) translateZ(0);
		        transform: rotate(180deg) translateZ(0);
		background-position: center, center, center;
	}
	
	
	/* Hide alternate text except from screen readers */
	.visually-hidden {
		position: absolute !important;
		clip: rect(1px, 1px, 1px, 1px);
		overflow: hidden;
		height: 1px;
		width: 1px;
	}

}




/*=============================================================
COLONNE LATERALE SIDEBAR.PHP & SINGLE.PHP
=============================================================*/

/*------------------------------------------------------------
.asideUn et .asideDeux 
------------------------------------------------------------*/

.asideUn, .asideDeux {
    background-color: #E8E4E2;
    margin: 5% auto;
    padding-bottom: 5%;
}

.asideUn h2, .asideDeux h2 {
    display: block;
    color: #fff;
    margin: 0;
    padding: 2%;
    font-size: 2em;
    text-align: center;
}
.asideUn h2 { background-color: #9EC419 ; }
.asideDeux h2 { background-color: #3ebaca; }


.asideUn h3, .asideDeux h3 {
    margin-bottom: 2%;
}
.asideUn h3 { color: #9EC419; }
.asideDeux h3 { color: #3ebaca;}

.asideUn p, .asideDeux p {
    margin : 0.2em auto;
}

.asideUn ul, .asideDeux ul,
.contenu-principal ul {
    margin : 2%;
}

.asideUn li, .asideDeux ul,
.contenu-principal {
    list-style: square;
    list-style-position: inside;
    padding: 0 4%;
}

.widget {
    margin-top: 3%;
}



/*------------------------------------------------------------ 
SINGLE.PHP : Style Google Map 
------------------------------------------------------------*/
.acf-map {
	/*width: 100%;*/
	height: 300px;
	border: #ccc solid 1px;
	margin: 20px inherit;
}

/*------------------------------------------------------------ 
SIDEBAR.PHP : Widget Tag Cloud 
------------------------------------------------------------*/
.tagcloud {
    text-align: center;
}

.tagcloud a {
    font-weight: 500;
}

.tagcloud a[class$="0"]:hover,
.tagcloud a[class$="1"]:hover,
.tagcloud a[class$="2"]:hover,
.tagcloud a[class$="3"]:hover,
.tagcloud a[class$="4"]:hover,
.tagcloud a[class$="5"]:hover,
.tagcloud a[class$="6"]:hover,
.tagcloud a[class$="7"]:hover,
.tagcloud a[class$="8"]:hover,
.tagcloud a[class$="9"]:hover {
    color : #4e4797;
}

.tagcloud a[class$="0"],
.tagcloud a[class$="6"],
.tagcloud a[class$="9"] {
    color : #968881;
}

.tagcloud a[class$="1"],
.tagcloud a[class$="4"],
.tagcloud a[class$="7"] {
    color : #81b15a;
}

.tagcloud a[class$="2"],
.tagcloud a[class$="5"] {
    color: #ED9E10;
}

.tagcloud a[class$="3"],
.tagcloud a[class$="8"] {
    color : #EF7F3C;
}

/*------------------------------------------------------------ 
SIDEBAR.PHP : Widget Liste des catégories
------------------------------------------------------------*/
.widget ul {
    margin: 0 5%;
}

.widget ul.children {
    margin: 0;
}

.widget li {
    list-style: none;
    padding: 0;
}

.widget li a {
    display: block;
    color: #968881;
    font-weight: 200;
    padding: 1% 0;
}

.widget li a:hover {
    color : #4e4797;
    font-weight: 500;
} 

.widget h3 {
    margin-top: 2%;
}

/*------------------------------------------------------------ 
SIDEBAR.PHP : Widget Formulaire de recherche
------------------------------------------------------------*/
.searchform div {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.searchform label {
    display: none !important;
    visibility: hidden;
}

/*.searchform label {
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 0 10px;
    float:left;
    
    color: #9EC419;
    font-weight: bold;
    font-size: 1.5em;
}*/

.searchform input#s {
    width: 60%;
}

.searchform input#searchsubmit {
    /*TYPO*/
    color: #fff;
    font-size: 1.2em;
    font-weight: 200;
    
    /*POSITION BLOCK*/
    margin-right: 6%;
    
    /* MISE EN FORME BLOCK*/
    padding: 1%;
    background-color: #81b15a;
    border: outset 2px #81b15a;
    border-radius: 3px;
}

/*=============================================================
PARTIE PRINCIPALE SINGLE.PHP
=============================================================*/

/*------------------------------------------------------------
superposition de l'image bannière et du titre de la page 
------------------------------------------------------------*/

.banner {position: relative;}

.titreArticle {
    position: absolute;
    top: 10%;
    text-align: center;
    font-size-adjust: auto;
}

/*------------------------------------------------------------
Fil d'Ariane / Breadcrumbs
------------------------------------------------------------*/
#breadcrumbs {
    margin: 1% auto;
    color: black;
}

#breadcrumbs a {
    color : #4e4797;
}

#breadcrumbs a:hover {
    color: #3ebaca;
    text-decoration: underline;
}

/*=============================================================
PARTIE PRINCIPALE INDEX.PHP
=============================================================*/

.resultatArticle{
    margin-top: 3%;
    margin-bottom: 3%;
    /*background-color: aliceblue;*/
}

.resultatArticle img{
    width: 100%;
    height: auto;
}

.resultatArticle h3 {
    margin-top: 0;
    margin-bottom: 2%;
    }

.resultatArticle h3 a {
    color : inherit;
    font-size: inherit;
    font-weight: inherit;
}

.resultatArticle h3 a:hover {
    color: #4e4797;
}

.resultatArticle h6{
    margin-top: 1%;
    margin-bottom: 2%;
    color: #9EC419;
}

.donneurDordres {
    margin: 3% auto;
}

/*=============================================================
   Helper classes
   =============================================================*/

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/*=============================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   =============================================================*/

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
        content: "";
    }

    pre,blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr, img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }

    h1, h2, h3 {
        page-break-after: avoid;
    }
}
