//* { border: solid 1px;}
/*------------------------------------------------------------
TYPOGRAPHIE GENERALE
------------------------------------------------------------*/

body {
    font-family: "Ubuntu", Tahoma, sans-serif;
    font-size: 0.8em;}

h1, .h1 { 
    font-weight: bold;
    font-size: 2.5em;
    color: $orange;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

h2, .h2 {
    font-weight: bold;
    font-size: 1.75em;
    color: $vert ;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

h3, .h3 {
    font-weight: bold;
    font-size: 1.5em;
    color: $orangeMoyen;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

h4, .h4 {
    font-weight: bold;
    font-size: 1.33em;
    color: $orangeFonce;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

h5, .h5 {
    font-weight: 500;
    font-size: 1.25em;
    font-style: italic;
    color: $gris;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

h6, .h6 {
    font-weight: 500;
    font-size: 1em;
    color: $gris;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
}

p {
    font-weight: normal;
    font-size: 1em;
    line-height: 1.5em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
    a {
        font-weight: 500;
        font-size: 1em;
        color: $bleuFonce;
    }
    
    a:hover, a:visited {color: $bleuVert;}
}

a {text-decoration: none;}
//Les styles des liens sonts définis au cas par cas 
//avec en général une couleur identique au contexte et bleu foncé au survol et en activité 
//sauf dans le corps de texte où le bleu foncé est la couleur par défaut et ils deviennent bleu-vert au survol et après visite 

//ajouter des styles pour blockquote ?

.contenu-principal {
    ul { margin : 2%;}
    li {
        list-style: square;
        list-style-position: inside;
        padding: 0 4%;
    }
}

/*------------------------------------------------------------
IMAGES & GALLERIES 
------------------------------------------------------------*/
/* classe responsive des images*/
.img-100 { 
    width: 100%;
    height: auto;
} 

img, iframe, video {max-width: 100%;}

/* dans le corps de texte img à gauche ou à droite habillage de texte flottant*/
.alignleft {
    @extend .grid-33;
	height:auto;
    float: left;
} 

.alignright {
    @extend .grid-33; 
    float: right;
}

/* mise en forme de la galerie d'images wordpress*/
.gallery {
    @extend .grid-100;
    img {@extend .img-100;}
}

.gallery-icon {
    padding:2%;
}

.wp-caption-text {
    font-weight: 500;
    font-style: italic;
    text-align: center;
}

/*------------------------------------------------------------
.asideUn et .asideDeux 
------------------------------------------------------------*/

.asideUn, .asideDeux {
    background-color: $grisPastel;
    margin: 5% auto;
    padding-bottom: 5%;
    
    h2{
        display: block;
        color: $blanc;
        margin: 0;
        padding: 2%;
        font-size: 2em;
        text-align: center;
    }
    
    h3 {
        margin-bottom: 2%;
    }
    
    p {
        margin : 0.2em auto;
    }
    
    ul{margin : 2%;}
    
    li{
        list-style: square;
        list-style-position: inside;
        padding: 0 4%;
    }
}


.asideUn {
    h2 { background-color: $vert ; }
    h3 { color: $vert; }
}

.asideDeux {
    h2 { background-color: $bleuVert; }
    h3 { color: $bleuVert;}
}

/*------------------------------------------------------------
Fil d'Ariane / Breadcrumbs
------------------------------------------------------------*/
#breadcrumbs {
    margin: 1% auto;
    color: black;
    
    a {
        color : $bleuFonce;
    }
    
    a:hover {
        color: $bleuVert;
        text-decoration: underline;
    }
}


/*------------------------------------------------------------
Boutons
------------------------------------------------------------*/

.bouton {
    /*TYPO*/
    color: $blanc;
    font-size: 1.3em;

    /*POSITION BLOCK*/
    margin-right: 6%;
    
    /* MISE EN FORME BLOCK*/
    padding: 0.5%;
    border-radius: 3px;
}

.bouton-vert {
    @extend .bouton;
    background-color: $vertMoyen;
    border: outset 2px $vertMoyen;
}

.bouton-orange{
    @extend .bouton;
    background-color: $orange;
    border: outset 2px $orange;
}

/*------------------------------------------------------------ 
INDEX + SINGLE : Image à la une + paagraphe de texte
------------------------------------------------------------*/
.breve, .resultatArticle {
    margin-top: 3%;
    margin-bottom: 3%;

	h3 {
        margin-top: 0;
        margin-bottom: 2%;
        a {
            color : inherit;
            font-size: inherit;
            font-weight: inherit;
            text-decoration: none;
        }
        a:hover {
            color: #4e4797;
        }
    }
    
    h6{
        margin-top: 1%;
        margin-bottom: 2%;
        color: #9EC419;
    }
}

.resultatArticle img{
        width: 100%;
        height: auto;
    }

.breve {
	h3, h3+p {@extend .grid-66;}
	hr {@extend .grid-100;}
	.wp-caption	img {@extend .img-100;}
}
	

.donneurDordres {
    margin: 3% auto;
}

/*------------------------------------------------------------ 
Template de page : module parallaxe
------------------------------------------------------------*/
.section-parallax {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 300px;
	position:relative;
	padding-top: 5%;
	padding-bottom: 5%;
}
.gde-section-parallax {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 640px;
	position:relative;
	padding-top: 5%;
	padding-bottom: 5%;
}

.layer {
  background:#333;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

.slide_inside {
	h1, h2, h3, h4, h5, h6, p, a {
		color: $blanc;
		margin : 0;
		padding : 0;
		position: relative;
	}
	
	span{
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 0;
		padding-bottom: 0;
	}
}
