/*=============================================================
CUSTOM MOBILE STYLE
=============================================================*/

@media screen and (max-width: 767px) {
	/*--------------------------------------------------
    MENU PRINCIPAL
    --------------------------------------------------*/
	
	nav + * {
		position: relative;
	}
	/* Theming opened nav */
	
	.menuVertical {
		a:hover,
		a:focus,
		a:active {
			background: $grisPastel;
			color: $bleuFonce;
		}

		ul {
			/* global styles */
			margin: 0;
			padding: 0;
			list-style: none;
			-webkit-transition: max-height .4s;
			transition: max-height .4s;

			/* translate with hardware acceleration */
			-webkit-transform: translateZ(0);
			-ms-transform: translateZ(0);
			transform: translateZ(0);

			will-change: max-height;
		}
		li {
			border: 1px $vert;
		}
		a {
			display: block;
			padding: 0.8em;
			color: $gris;
			text-decoration: none;
			font-weight: 500;
			font-size: 1.1em;
			line-height: 1.5em;
		}
		.sub-menu {
			border-left: 2px solid $gris;

			@extend .mobile-grid-95;
			@extend .mobile-push-5;
			@extend .grid-parent;
		}
	}
	/* Theming closed nav */
	
	nav.is-closed ul {
		overflow: hidden;

		max-height: 0;
	}
	/* Global styling nav button */
	
	nav > button {
		position: absolute;
		top: 2%;
		right: 5%;
		z-index: 1;

		display: block;
		padding: 0;
		width: 15%;
		height: 6%;
		outline: 0;
		border: 0;
		background-color: transparent;
		background-image: 
			-webkit-gradient(linear, left top, right top, from(#968881), to(#968881)), 
			-webkit-gradient(linear, left top, right top, from(#968881), to(#968881)), 
			-webkit-gradient(linear, left top, right top, from(#968881), to(#968881));
		background-image: 
			-webkit-linear-gradient(left, #968881, #968881), 
			-webkit-linear-gradient(left, #968881, #968881), 
			-webkit-linear-gradient(left, #968881, #968881);
		background-image: 
			-webkit-linear-gradient(left, #968881, #968881), 
			-webkit-linear-gradient(left, #968881, #968881), 
			-webkit-linear-gradient(left, #968881, #968881);
		background-image: 
			linear-gradient(to right, #968881, #968881), 
			linear-gradient(to right, #968881, #968881), 
			linear-gradient(to right, #968881, #968881);
		background-position: center top, center, center bottom;
		background-size: 100% 20%;
		background-repeat: no-repeat;
		cursor: pointer;
		-webkit-transition: .2s;
		transition: .2s;

		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
	/*  Removing Firefox's dotted outline on button */
	
	nav > button::-moz-focus-inner {
		border: 0;
	}
	/* Theming opened nav button */
	
	nav:not(.is-closed) > button {
		background-position: center, center, center;

		-webkit-transform: rotate(180deg) translateZ(0);
		transform: rotate(180deg) translateZ(0);
	}
	/* Hide alternate text except from screen readers */
	
	.visually-hidden {
		position: absolute !important;
		overflow: hidden;
		clip: rect(1px, 1px, 1px, 1px);
		width: 1px;
		height: 1px;
	}
	/*--------------------------------------------------
    TYPO
    ---------------------------------------------------*/
	h1, .h1 {
		font-weight: 500;
		font-size : 2em;
	}
	h2, .h2, 
	h3, .h3,
	h4, .h4	{
		font-weight: 500;
		font-size: 1.25em;
	}
	
	h5, .h5,
	h6, .h6 {
		font-weight: normal;
	}
	
	/*--------------------------------------------------
    Page découvrez-nous
    ---------------------------------------------------*/
	.h1mobile {
		top : 30px;
		left : 20px;
		padding: 2%;
		text-align: center;
		text-transform: uppercase;
		font-size: 2em;
	}	
	
	/*--------------------------------------------------
    Page accueil
    ---------------------------------------------------*/
	.homeSlide{
		position: relative;
		height: 100%;
		.bgmobile {
			position: absolute;
			height: 100%;
			background-image:
			url(http://www.siarep-btp.com/wp-content/themes/theme-siarep/images/fondVert-75.png),
			url(http://www.siarep-btp.com/wp-content/themes/theme-siarep/images/fondOrange-75.png);
		background-position: 5% 70%, 90% 45% ;
		background-repeat: no-repeat, no-repeat;
		}
		.h1 {
			top: 50%;
		}
	}
}

@media screen and (min-width: 768px) {
	.homeSlide{
		.h1 {
			bottom: 10%;
		}
	}
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
	* {
		background: transparent !important;
		/* Black prints faster: h5bp.com/s */
		box-shadow: none !important;
		color: #000 !important;
		text-shadow: none !important;
	}
	a,
	a:visited {
		text-decoration: underline;
	}
	a[href]:after {
		content: " (" attr(href) ")";
	}
	abbr[title]:after {
		content: " (" attr(title) ")";
	}
	/*
     * Don't show links for images, or javascript/internal links
     */
	
	.ir a:after,
	a[href^="javascript:"]:after,
	a[href^="#"]:after {
		content: "";
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
		/* h5bp.com/t */
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	@page {
		margin: 0.5cm;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h1,
	h2,
	h3 {
		page-break-after: avoid;
	}
}