/*------------------------------------------------------------
COULEURS 
-------------------------------------------------------------*/
$gris: #968881;         $grisPastel: #E8E4E2;
$orange: #ED9E10;		$orangePastel: #fff6ce;
$orangeMoyen: #EF7F3C; 
$orangeFonce: #EA5B0B;
$vert: #9EC419;        $vertPastel: #ecf3da;
$vertMoyen: #81b15a;
$vertFonce: #7fc07d;
$bleuFonce: #4e4797;
$bleuVert: #3ebaca;     $bleuVertPastel: #e3f2f6;
$blanc: #fff;

/*------------------------------------------------------------
TYPOGRAPHIE 
------------------------------------------------------------*/

@font-face {
    font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-L.ttf');
    font-weight: normal;}

@font-face {
    font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-LI.ttf');
    font-weight: normal;
    font-style: italic;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-R.ttf');
    font-weight: 200;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-RI.ttf');
    font-weight: 200;
    font-style: italic;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-M.ttf');
    font-weight: 500;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-MI.ttf');
    font-weight: 500;
    font-style: italic;}

@font-face {
 font-family: "Ubuntu";
    src: url('typoUbuntu/Ubuntu-B.ttf');
    font-weight: bold;}
